DB_HOST=localhost
DB_PORT=5432
DB_NAME=cyber_incidents
DB_USER=cyber_admin
DB_PASSWORD=yourpassword

FLASK_ENV=development
SECRET_KEY=change-me

TWITTER_API_KEY=
TWITTER_API_SECRET_KEY=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=
